
@{
    ViewBag.Title = "AdministratorIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using PagedList.Mvc;
@model PagedList.PagedList<baithuocdangian.Models.tbl_Admin>
<div id="main-content">
    <div class="container-fluid">
        <div style="width: 100%; margin: 0 auto;">

            <div id="Breadcrumb" class="Block Breadcrumb ui-widget-content ui-corner-top ui-corner-bottom">
                <ul>
                    <li class='SecondLast'><a href='@Url.Action("Default", "Admin")'><i class="fa fa-home" style="font-size:14px;"></i> Trang chủ</a></li>
                    <li class='Last'><span> Danh sách thành viên</span></li>
                </ul>
            </div>
            <div style="clear: both;"></div>


            <div id="cph_Main_ContentPane">




                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="icon-list-alt"></i>&nbsp;Danh sách thành viên</h4>

                        <div class="ui-widget-content ui-corner-top ui-corner-bottom">
                            <div id="toolbox">

                                <div style="float:right;" class="toolbox-content">

                                    <table class="toolbar">
                                        <tr>



                                            <td align="center">
                                                <a id="cph_Main_ctl00_toolbox_rptAction_lbtAction_1" title="Thêm mới" class="toolbar btn btn-info" href="@Url.Action("AdministratorAdd", "Administrator")">
                                                    <i class="fa fa-plus"></i>&nbsp;
                                                    Thêm mới
                                                </a>
                                            </td>

                                            @*<td align="center">
                                                <a onclick="javascript:return ConfirmDelete();" id="cph_Main_ctl00_toolbox_rptAction_lbtAction_2" title="Xóa" class="toolbar btn btn-info" href="javascript:__doPostBack(&#39;ctl00$cph_Main$ctl00$toolbox$rptAction$ctl03$lbtAction&#39;,&#39;&#39;)">
                                                    <i class="fa fa-trash"></i>&nbsp;
                                                    Xóa
                                                </a>*@
                                            </td>

                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div id="hiddenToolBarScroll" class="scrollBox hidden">
                            <h4>
                                <i class="icon-list-alt"></i>&nbsp;Danh sách thành viên
                            </h4>
                            <div class="FloatMenuBar">

                                <div class="ui-widget-content ui-corner-top ui-corner-bottom">
                                    <div id="toolbox">

                                        <div style="float:right;" class="toolbox-content">

                                            <table class="toolbar">
                                                <tr>



                                                    <td align="center">
                                                        <a id="cph_Main_ctl00_toolbox2_rptAction_lbtAction_1" title="Thêm mới" class="toolbar btn btn-info" href="@Url.Action("AdministratorAdd", "Administrator")">
                                                            <i class="fa fa-plus"></i>&nbsp;
                                                            Thêm mới
                                                        </a>
                                                    </td>

                                                    @*<td align="center">
                                                        <a onclick="javascript:return ConfirmDelete();" id="cph_Main_ctl00_toolbox2_rptAction_lbtAction_2" title="Xóa" class="toolbar btn btn-info" href="javascript:__doPostBack(&#39;ctl00$cph_Main$ctl00$toolbox2$rptAction$ctl03$lbtAction&#39;,&#39;&#39;)">
                                                            <i class="fa fa-trash"></i>&nbsp;
                                                            Xóa
                                                        </a>
                                                    </td>*@

                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-body">



                        <div class="span9">
                            @*<form method="post" action="@Url.Action("ProductIndex", "Product")">
                                <div style="float:left;margin-bottom:10px;" class="span9 form-search pull-right text-right">
                                    <input name="search" type="text" maxlength="100" id="txtSearch" placeholder="Nhập tên bài viết" style="width: 200px;">
                                    <button name="btnSearchh" id="btnSearchh" class="toolbar btn btn-info"><i class="fa fa-search"></i> Tìm kiếm</button>
                                </div>
                            </form>*@
                        </div>

                        <div>
                            <table class="table table-striped table-bordered dataTable table-hover" cellspacing="0" id="cph_Main_ctl00_ctl00_grvProducts" style="border-collapse:collapse;">
                                <tr>
                                    @*<th scope="col">
                                        <input id="cph_Main_ctl00_ctl00_grvProducts_chkAll" type="checkbox" name="ctl00$cph_Main$ctl00$ctl00$grvProducts$ctl01$chkAll" onclick="javascript:SelectAllCheckboxes(this);" />
                                    </th>*@
                                    <th style="text-align:center" scope="col">Id</th>
                                    <th style="text-align:center" scope="col">Username</th>
                                    <th style="text-align:center" scope="col">Full Name</th>
                                    

                                
                                    <th style="text-align:center" scope="col">Thao tác</th>
                                </tr>
                                @for (int i = 0; i < @Model.Count; i++)
                                {
                                    <tr>
                                        @*<td align="center" style="width:8px;">
                                            <input id="cph_Main_ctl00_ctl00_grvProducts_chkEdit_0" type="checkbox" name="ctl00$cph_Main$ctl00$ctl00$grvProducts$ctl02$chkEdit">
                                        </td>*@
                                        <td class="Visible text-center" align="center" style="width:30px;">@Model[i].Id</td>
                                       
                                        <td class="Visible text-center" align="center" style="width:45px;">

                                            @Model[i].Username
                                        </td>

                                        <td class="text-center" align="center" style="width:30px;">
                                            @Model[i].Fullname
                                        </td>
                                      

                                       
                                        <td class="Visible text-center" align="center" style="width:45px;">
                                            
                                            <a href="@Url.Action("AdministratorDetail", "Administrator", new { id = @Model[i].Id })" class="action-link-button" id="lbtUpdateProduct2946698" title="Xem chi tiết thành viên">
                                                <i class="fa fa-male"></i>
                                            </a>
                                            
                                            
                              

                                             
                                             
                                          
                                                <a href="@Url.Action("AdministratorEdit", "Administrator", new { id = @Model[i].Id })" class="action-link-button" id="lbtUpdateProduct2946698" title="Chỉnh sửa thành viên">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </a>
                                          
                                                

                                            
                                            
                                           
                                            <a href="@Url.Action("AdministratorRemove", "Administrator", new { id = @Model[i].Id })" class="action-link-button" title="xóa bộ thành viên" onclick="return DeleteConfirm()">

                                                <i class=" fa fa-trash">
                                                </i>
                                            </a>
                                           
                                          

                                        </td>


                                    </tr>
                                }
                            </table>
                        </div>


                        <div class="pagination pagination-small pagination-right">
                            <ul>
                                <li>
                                    @Html.PagedListPager(Model, Page => Url.Action("AdministratorIndex", new { Page = Page }))
                                </li>

                            </ul>
                        </div>






                    </div>
                </div>
            </div>

        </div>
    </div>
    <div style="margin-right: 25px; float: right; color: Gray;">
        thuốc dân gian - thuốc  của mọi nhà
    </div>
    <div style="height: 10px; margin-top: 40px;">
    </div>
</div>
<script type="text/javascript">
    function phanquyenConfirm() {
        confirm("Bạn không có quyền chỉnh sửa ,vì bạn không phải là người có quyền cao nhất ?")
       
    }
    
</script>
<script type="text/javascript">
    function chitietConfirm() {
        confirm("Bạn không có quyền xem chi tiết thông tin vì bạn không phải là người có quyền cao nhất ?")

    }

</script>
<script type="text/javascript">
    function xoaConfirm() {
        confirm("Bạn không có quyền xóa thông tin vì bạn không phải là người có quyền cao nhất ?")

    }

</script>























