@model IList<baithuocdangian.Models.Noi_dung>
<ul class="listtintuc">
    @for (int i = 0; i < @Model.Count; i++)
    {
        <li class="left">
            <a href="@Url.Action("Detail", "Home", new {@id=@Model[i].Id})" rel="nofollow">
                <img width="100" height="100" src="@Model[i].Anh_minh_hoa" class="attachment-anhdaidien wp-post-image" alt="Bai37anh2">
            </a>
            <h2>
                <a href="@Url.Action("Detail", "Home", new {@id=@Model[i].Id})">@Model[i].Name</a>
            </h2>@Html.Raw(@Model[i].Mo_ta.Substring(0, 100))
        </li>
    }

</ul>

